<h4>ユザー一覧</h4>
<% @users.each do |user| %>
　<%= link_to(user_path(user.id), class: 'list-content') do %>
  <div><%= attachment_image_tag user, :image, size: "100x100", format: "jpg" %></div>
		<table class=' table table-hover table-inverse order_table_text'>
			<tr>
				<td><%= user.nickname %></td>
				<td><%= user.gender %> / <%= user.age %> / <%= user.profession %></td>
			</tr>
			<tr><td><%= user.profile %></td></tr>
	  </table>
  <% end %>
<% end %>