
<table class=' table table-hover table-inverse order_table_text'>
	<thead>
		<tr>
			<th>商品画像</th>
			<th>書籍タイトル / カナ</th>
			<th>著者名 / カナ</th>
			<th>出版社名</th>
			<th>発売日</th>
		<tr>
	</thead>

  <% if books.present? %>
		<% books.each do |book| %>
			<tbody>
				<tr>
					<td><%= link_to (image_tag(book.medium_image_url)), book_path(book.isbn) %></td>
					<td>
						<%= link_to book_path(book.isbn) do %>
						  <%= book.title %> <%= book.title_kana %>
						<% end %>
					</td>
					<td><%= book.author %> <%= book.author_kana %></td>
					<td><%= book.publisher_name %></td>
					<td><%= book.sales_date %></td>
				<tr>
			</tbody>
	  <% end %>
	<% end %>
</table>
