<h2>書籍検索</h2>
<!-- 書籍検索機能 楽天APIを使用 -->
<!-- 検索フォームの設置 -->
<%= form_with url: books_path, method: :get, local: true do |form| %>

  <!-- 検索条件 書籍検索or著者名検索 -->
  <%= form.radio_button :search_condition, :title,  class:"radio_button" %>
　<%= form.label :search_condition, "書籍タイトルから検索", {value: :title, style: "display: inline-block;", class:"radio_button_text"} %>
  <%= form.radio_button :search_condition, :author,  class:"radio_button" %>
　<%= form.label :search_condition, "著者名から検索", {value: :author, style: "display: inline-block;", class:"radio_button_text"} %>
    <%= form.text_field :keyword, class: "form-control" %>
    <div style="padding:10px">
    	<%= form.submit '検索', class: "btn btn-lg btn-success " %>
    </div>
<% end %>

<%= render "books/book", books: @books, books_full: @books_full  %>
