<h2>書籍詳細</h2>

<% @book_details.each do |book_detail| %>
	<%= image_tag(book_detail.large_image_url) %>
  <%= book_detail.title %> <%= book_detail.title_kana %>

	<%= book_detail.title %> <%= book_detail.title_kana %>
  <%= book_detail.contents %></td></tr>
		<tr><td><%= book_detail.author %> <%= book_detail.author_kana %></td></tr>
		<tr><td><%= book_detail.publisher_name %></td></tr>
    <tr><td><%= book_detail.size %></td></tr>
    <tr><td><%= book_detail.item_caption %></td></tr>
    <tr><td><%= book_detail.sales_date %></td></tr>
  </table>

	<%= form_with model: @book_shelf, url: book_shelves_path(book_id: book_detail.isbn), method: :post, local: true do |f| %>
    <%= f.hidden_field :book_id, :value => book_detail.isbn %>
    <%= f.submit "本棚へ追加" %>
  <% end %>

  <%= link_to "楽天で本を買う" , book_detail.item_url, class:"btn btn-success" %>
<% end %>

<% if user_signed_in? %>
  <!-- レビュー投稿を表示 -->
  <%= render partial: "books/new_review", locals: { book_details: @book_details, review: @review } %>
<% end %>
  <!-- レビュー一覧を表示 -->
  <%= render partial: "books/reviews", locals: { reviews: @reviews } %>
