
<table class=' table table-hover table-inverse order_table_text'>
	<thead>
		<tr>
			<th>書籍をオススメしたユーザー</th>
			<th>書籍画像</th>
			<th>書籍タイトル / カナ</th>
			<th>著者名 / カナ</th>
			<th>出版社名</th>
			<th>オススメ文</th>
		  <th>書籍詳細</th>
		<tr>
	</thead>

  <% @recommended_book.each do |recommended_book| %>
	  <% books = RakutenWebService::Books::Book.search(isbn: recommended_book.book_id.to_i) %>
	  <% books.each do |item| %>
			<tbody>
				<tr>
					<td>
						<%= attachment_image_tag recommended_book.user, :image, size: "100x100", format: "jpg", fallback:"no_image.jpg" %>
			      <%= recommended_book.user.nickname %>
			    </td>
          <td><%= image_tag(item.medium_image_url) %></td>
          <td><%= item.title %><br><%= item.title_kana %></td>
					<td><%= item.author %><br><%= item.author_kana %></td>
					<td><%= item.publisher_name %></td>
					<td>
						タイトル : <%= recommended_book.title %><br>
						本文 : <%= recommended_book.text %>
					</td>
					<td><%= link_to "詳細情報",  book_path(item.isbn), class: "btn btn-md btn-info" %></td>
        </tr>
			</tbody>
	  <% end %>
	<% end %>
</table>