
<h4>オススメ書籍を選ぶ</h4>
<!-- オススメ書籍検索画面 -->
<div class="row recommend_book_choice_field">
  <%= form_with url: confirm_recommended_book_path(@recommended_user), method: :get, local: true do |form| %>
  <div class="col-xs-8">
    <!-- 宛名 -->
    <h5><%= @recommended_user.nickname %>さんへ</h5>
    <!-- 書籍選択方法をラジオボタンで選ぶ -->
    <%= form.radio_button :recommended, :shilf,  class:"radio_button" %>
  　<%= form.label :recommended, "本棚書籍からオススメ", {value: :title, style: "display: inline-block;", class:"radio_button_text"} %>
    <%= form.radio_button :recommended, :review,  class:"radio_button" %>
  　<%= form.label :recommended, "レビュー一覧からオススメ", {value: :review, style: "display: inline-block;", class:"radio_button_text"} %>
    <%= form.radio_button :recommended, :search,  class:"radio_button" %>
  　<%= form.label :recommended, "オススメしたい書籍を検索する", {value: :search, style: "display: inline-block;", class:"radio_button_text"} %>
  </div>
  <div class="col-xs-4 button_position">
    <%= form.submit '検索', class: "btn btn-lg btn-success " %>
  </div>
  <% end %>
</div>

<div class="recommend_book_search_field">
  <!-- 本棚から選ぶ場合 -->
  <% if params[:recommended] == "shilf" %>
    <%= render partial: "recommended_books/book_shelves", locals: { recommended_user: @recommended_user, book_shelves: @book_shelves } %>
  <!-- レビューから選ぶ場合 -->
  <% elsif params[:recommended] == "review" %>
    <%= render partial: "recommended_books/review", locals: { recommended_user: @recommended_user, reviews: @reviews } %>
  <!-- オススメ書籍を検索する場合 -->
  <% elsif params[:recommended] == "search" %>
    <h5 style="font-weight:bold">オススメ書籍を検索する場合</h5>
    <p>ラジオボタンにて、「書籍タイトル」か「著者名」のどちらかにチェックを入れ、フォーム空欄に検索したいワードを打ち込み、検索ボタンを押しましょう。</p>
    <!-- 検索フォーム -->
    <%= form_with url: confirm_recommended_book_path(@recommended_user), method: :get, local: true do |form| %>
      <!-- 検索条件 書籍検索or著者名検索 -->
      <%= form.radio_button :search_condition, :title,  class:"radio_button" %>
    　<%= form.label :search_condition, "書籍タイトル", {value: :title, style: "display: inline-block;", class:"radio_button_text"} %>
      <%= form.radio_button :search_condition, :author,  class:"radio_button" %>
    　<%= form.label :search_condition, "著者名", {value: :author, style: "display: inline-block;", class:"radio_button_text"} %>
  　　<%= form.hidden_field :recommended, :value => "search" %><!-- 書籍選択方法”search”をこのフォーム送信でも使用 -->

      <%= form.text_field :keyword, class: "form-control" %>
      <div style="padding:10px">
        <%= form.submit '検索', class: "btn btn-lg btn-success " %>
      </div>
    <% end %>
    <% if @books.present? %>
      <%= render partial: "recommended_books/search", locals: { recommended_user: @recommended_user, books: @books,books_full: @books_full } %>
    <% else %>
      <p class="text-danger"><%= flash[:notice] %></p>
    <% end %>
  <% end %>
</div>
