
<h4>おすすめ一覧</h4>

<!-- おすすめ数一覧orおすすめされ数一覧の場合で表記を変更 -->
<% if params[:recommended_patarn] == "1"%>
  <div><%= @user.family_name %><%= @user.given_name %>さんのおすすめ書籍</div>

  <!-- ユーザーに関するの書籍レビュー/おすすめ数へのリンク -->
  <%= render partial: "users/link_index", locals: { reviews: @reviews, recommended: @recommended, recommended_user: @recommended_user, books: @books } %>
  <!-- ユーザーのおすすめ数一覧へのリンク -->
  <%= render partial: "recommended_books/user", locals: { recommended_book: @recommended_book} %>

<% elsif params[:recommended_patarn] == "2"%>
  <div><%= @user.family_name %><%= @user.given_name %>さんへのおすすめ書籍</div>

  <!-- ユーザーに関するの書籍レビュー/おすすめ数へのリンク -->
  <%= render partial: "users/link_index", locals: { reviews: @reviews, recommended: @recommended, recommended_user: @recommended_user, books: @books } %>

  <!-- ユーザーのおすすめされた数一覧へのリンク -->
  <%= render partial: "recommended_books/recommended_user", locals: { recommended_book: @recommended_book} %>
<% end %>
